<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>YoTvChannels</title>
</head>
<body>
<div style="background: #884ea0;" class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center">
    <h1 class="text-monospace">Welcome to YoTvChannels &copy;</h1>
</div>
</body>
</html>
